.window button,
.label,
.window input,
.window select,
.window textarea,
.window fieldset,
.window table,
.window th,
.window td,
.window .panel,
.window .title {
  font-family: 'Helvetica','sans-erif';
  font-size: 12px;
}

.date,
.button,
.label,
.input-submit,
.input-text,
.input-email,
.input-button,
.input-date,
.select,
.textarea {
  padding: 5px;
  margin: 2px;
}

/*Entrys****************************************/
.input-text {
   border: 1px solid #c0c0c0;
}

.readonly {
   background: #c9c9c9;
}
/***********************************************/

/*Buttons***************************************/
.button,
.input-submit,
.input-button,
.select {
  background: #E8E8E8;
  border: 1px solid #9C9999;
}

.button:active,
.input-submit:active,
.input-button:active {
  /*box-shadow: 0px 0px 5px #000000;*/
  background: #dddddd;
}

.buttons {
  border-top: 1px solid #7F7F7F;
  text-align: right;
  margin-top: 10px;
}
/***********************************************/

/*Windows***************************************/
.window {
  box-shadow: 0px 0px 10px black;
  background: #F0F0F0;
  color: #7F7F7F;
  font-size: 16px;
  min-width: 200px;
  min-height: 50px;
  overflow: hidden;
}

.window .title {
  font-size: 13px;
  font-weight: normal;
  margin: 5px;
}

.window .top-panel {
  background-color: #4D4D4D;
  color: #E5E5E5;
  padding: 5px;
  margin-bottom: 1px;
  cursor: default;
}

.window .top-panel:active {
  cursor: move;
}

.window .window-buttons {
  position: absolute;
  right: 5px;
  top: 5px;
}

.window .window-button {
  /*position: absolute;*/  
  background: #F0F0F0;
  /*top: 2px;*/
  border-radius: 1px;
  border: none;
  /*width: 20px;
  height: 20px;*/
  margin-left: 2px;
}

.window .close-button {
}

.window .minmax-button {
}

.window .window-button:hover {
  background: #D0D0D0;
}

.window .main-panel {
  color: #1A1A1A;
}
/***********************************************/

/*tableview*/
.tableview {
  overflow: auto;
  background-color: #7f7f7f;
}

.tableview .tbody {
  display: block;
}

.tableview .thead,
.tableview .panel,
.tableview .tbody {
  min-width: 100%;
}

.tableview .panel {
  display: inline-block;
  height: calc(100% - 30px);
  overflow-y: auto;
  margin-top: -1px;
}

.tableview  tr {
  cursor: default;
  width: 100%;
}

.tableview .thead tr {
  background-color: #1B7FA7;
  color: white;
}

.tableview table {
  border-collapse: collapse;
}

.tableview th,
.tableview td {
  padding: 5px 10px;
  border-bottom: 1px solid #BEC9CC;
  min-width: 100px;
}

.tableview .no-selected {
  background-color: white;
}

.tableview .selected {
  background-color: #ADD8E6;
}
