/*.window,
.label,
.window input,
.window select,
.window textarea,
.window fieldset,
.window table,
.window th,
.window td,
.window .panel,
.window .title {
	font-family: 'Helvetica','sans-erif';
	font-size: 12px;
	color: #2c2c2c;
}*/

.date,
.button,
.label,
.entry,
.select,
.textarea {
	padding: 5px;
	margin: 2px;
}

/*Entrys****************************************/
.entry {
	 border: 1px solid #c0c0c0;
}

.readonly {
	 background: #e9e9e9;
}
/***********************************************/

/*Buttons***************************************/
.button,
.input-submit,
.input-button {
	background: #ffffff;
	color: rgb(31, 31, 31);
	/*border: 1px solid #b1b0b0;*/
	border: none;
	cursor: pointer;
	padding: 5px 10px;
	/*font-weight: bold;*/
}

.button:active,
.input-submit:active,
.input-button:active {
	background: #cacaca;
}

.buttons {
	border-top: 1px solid #7F7F7F;
	text-align: right;
	margin-top: 10px;
	padding: 5px;
}
/***********************************************/

/*Select****************************************/
.select {
	background: #E8E8E8;
	border: 1px solid #9C9999;
}
/***********************************************/

/*Windows***************************************/
.window {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px black;
	background: #F0F0F0;
	min-width: 200px;
	min-height: 50px;
	overflow: hidden;
}

.window .title {
	/*font-size: 1.0em;*/
	font-weight: normal;
	margin: 5px;
}

.window .top-panel {
	padding: 5px;
	margin-bottom: 1px;
	cursor: default;
	border-bottom: 1px solid #e6e6e6;
}

.window .top-panel:active {
	cursor: move;
}

.window .window-buttons {
	position: absolute;
	right: 5px;
	top: 5px;
}

.window .window-button {
	background: #F0F0F0;
	border-radius: 1px;
	border: none;
	margin-left: 2px;
}

.window .window-button:hover {
	background: #D0D0D0;
}

.window .main-panel {
	color: #1A1A1A;
}

.dialog .content {
	display: flex;
}

/***********************************************/

/*tableview*/
.tableview {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	/*border-top: 2px solid #aaaaaa;
	border-bottom: 2px solid #aaaaaa;*/
}

.tableview .divtable {
	flex-grow: 2;
	overflow-x: auto;
}

.tableview table {
	border-collapse: collapse;
}

.tableview .pagecontrol, .tableview .thead {
	background-color: #dfdfdf;
	color: rgb(75, 75, 75);
}

.tableview .pagecontrol {
	display: flex;
	justify-content: center;
}

.tableview .pagecontrol .entry {
	width: 40px;
	text-align: right;
}

.tableview .thead {
	display: block;
	margin-bottom: 1px;
}

.tableview .thead .order-button {
	width: 10px;
	margin: 0px 2px 5px 2px;
}

.tableview .tbody {
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	/*min-width: max-content;*/
}

.tableview .tbody, .tableview .thead {	
	margin-right: 20px;
}

.tableview  tr {
	cursor: default;
	border-bottom: 1px solid #c2c2c2;
}

.tableview .thead .column {
	display: flex;
	align-items: center;
}

.tableview th,
.tableview td {
	padding: 5px 10px;
	border-left: 2px solid #e9e9e9;
	min-width: 50px;
}

.tableview .no-selected {
	background-color: white;
}

.tableview .selected {
	background-color: #bde5ff;
}

/*dbview*/
.dbview {
	display: flex;
}

/*grid*/
.grid td {
	margin: 0px;
	padding: 0px;
}

/*loader*/
.loader-dialog {
  background-color: white;
  color: #333;
  font-weight: bold;
  border: 1px solid #DDD;
  box-shadow: none;
  padding: 10px;
}

.loader-dialog .loader {
  background: url('https://condominioparaty.com.br/sistema/images/loader.png');
  background-size: contain;
  animation-name: loaderAnime;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 32px;
  height: 32px;
  margin: auto;
}

@keyframes loaderAnime {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

